body {
    background-color: rgb(200, 230, 201);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    border: rgb(45, 210, 30) 2px solid;
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
    background-size: cover; 
}
